<div class="bg-gray-700 text-gray-400 p-4">
  <div class="container mx-auto">
    <div class="mx-5 flex flex-col-reverse md:flex-row justify-between text-sm">
      <div class="pt-3 pb-4">
        &copy; {{YEAR}} {{'MHAW_PAY'|transloco}}
      </div>
      <div class="pt-3 pb-4space-x-2 text-gray-300">
        <a
          class="transition hover:text-gray-50"
          routerLink="/terms-and-conditions"
        >
          {{'TERMS_AND_CONDTIONS'|transloco}}
        </a>
        <span>|</span>
        <a class="transition hover:text-gray-50" routerLink="/privacy-policy">
          {{'PRIVACY_POLICY'|transloco}}
        </a>
      </div>
    </div>
  </div>
</div>
