<div class="container mx-auto mt-6 mb-12">
  <!-- header -->
  <div class="flex justify-center items-center px-5">
    <div class="leading-relaxed">
      <h2 class="text-2xl font-bold py-3">
        {{'BRING_YOUR_BUSSINESS_ONLINE'|transloco}}
      </h2>
      <h4 class="max-w-sm py-3">
        {{'TURN_YOUR_RETAIL_STORE_INTO_ONLINE'|transloco}}
      </h4>
      <div class="py-3"></div>
      <button mat-flat-button color="primary">
        <div class="flex items-center">
          <span class="pr-2">
            {{'LEARN_MORE'|transloco}}
          </span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-4 w-4"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 5l7 7-7 7"
            />
          </svg>
        </div>
      </button>
    </div>

    <div class="p-12 w-3/5">
      <img
        class="object-contain"
        src="assets/img/undraw_happy_announcement_re_tsm0.svg"
        alt="image"
      />
    </div>
  </div>
</div>

<!-- hero 1 -->
<div class="bg-gradient-to-tr from-gray-600 to-purple-900 py-12 h-80">
  <div class="container mx-auto mt-6">
    <!--  -->
  </div>
</div>

<!-- hero 2 -->
<div class="py-12 h-72">
  <div class="container mx-auto mt-6">
    <!--  -->
  </div>
</div>
